*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

#calculator{
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    text-align: left;
    border: none;
    font-size: 3rem;
    background-color: rgb(71, 71, 71);
    color: white;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}


button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(56, 56, 56);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: rgb(92, 92, 92);
    }
    &:active{
        background-color: rgb(30, 30, 30);
    }
}

.opn{
    background-color: rgb(255, 140, 0);
}